Django==1.8.3
Fabric==1.10.2
Pillow==2.9.0
argparse==1.2.1
decorator==4.0.2
django-ckeditor==4.5.1
django-extensions==1.4.9
django-filter==0.11.0
django-gcm==1.1.0
django-tastypie==0.12.2
djangorestframework==3.1.1
django-rest-framework-social-oauth2
python-social-auth
django-oauth-toolkit
ecdsa==0.13
ipdb==0.8.1
ipython==4.0.0
ipython-genutils==0.1.0
paramiko==1.16.0
path.py==8.1.1
pexpect==3.3
pickleshare==0.5
pycrypto==2.6.1
python-dateutil==2.4.2
python-mimeparse==0.1.4
pytz==2015.4
requests==2.8.1
simplegeneric==0.8.1
six==1.9.0
traitlets==4.0.0
wsgiref==0.1.2
